:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color: #f6f6f6;
  --foreground-color: #e8e8e8;
  --shadow-color: #0a0a0a;
  --primary-text-color: #0a0a0a;
  --secondary-text-color: #ffffff;
  --toggle-bg: #808080;
  --toggle-fg: #ffffff;
  --button-hover-color: #e8e8e8;

  --document-height: calc(100vh - 250px);
}

[data-theme="dark"] {
  --background-color: #0a0a0a;
  --foreground-color: #1c1c1c;
  --shadow-color: #f6f6f6;
  --primary-text-color: #f6f6f6;
  --secondary-text-color: #0a0a0a;
  --toggle-bg: #283452;
  --toggle-fg: #00a6ff;
  --button-hover-color: #343434;
}

.toggle-container {
  position: absolute;
  top: 0em;
  right: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggle {
  visibility: hidden;
}

.toggle+label {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1em;
  cursor: pointer;
  color: var(--primary-text-color);
}

.toggle+label::before {
  content: "";
  height: 1em;
  width: 2em;
  border-radius: 1em;
  background-color: var(--toggle-bg);
  margin-right: 0.5em;
  transition: background-color 250ms ease-in-out;
}

.toggle+label::after {
  content: "";
  height: 0.8em;
  width: 0.8em;
  border-radius: 1em;
  background-color: var(--toggle-fg);
  position: absolute;
  top: 1.17em;
  left: 1.4em;
  transition: background-color 250ms ease-in-out, transform 250ms ease-in-out;
}

.toggle:checked+label::after {
  transform: translateX(100%);
}

/* button {
  border-radius: 8px;
  border: 1px solid;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
} */
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.format-button {
  font-family: Arial, sans-serif;
  font-size: 15px;
  padding: 5px;
  border: 1px solid #ccc;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  cursor: pointer;
  border-radius: 4px;
}

.format-button:hover {
  background-color: var(--button-hover-color);
}

.color-input {
  padding: 3px;
  border: 1px solid #ccc;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  cursor: pointer;
  border-radius: 4px;
}

.color-input:hover {
  background-color: var(--button-hover-color);
}

.color-input:focus,
.color-input:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--foreground-color);
  color: var(--primary-text-color);
  transition: background-color 0.25s ease-in-out;
  z-index: 100;
}

.document {
  margin-top: 50px;
  width: 755px;
  padding-bottom: var(--document-height);
  background-color: var(--background-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  cursor: text;

  .tiptap.ProseMirror {
    padding-bottom: var(--document-height);
  }
}

.document-nav-bar {
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 10px;
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  background-color: var(--background-color);
  box-sizing: border-box;
  position: relative;
  /* padding: 8px; */
  height: 120px;
}

.toolbar {
  padding-top: 5px;
  margin: 0 0 0 3px;
  position: relative;
  display: block;
  height: 20px;
  z-index: 102;
}

.document-title {
  border-radius: 4px;

  h2 {
    padding: 0px;
    margin: 0 0 0 5px;
  }

  .tiptap.ProseMirror {
    max-width: 50%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
  }
}

.tiptap {
  p {
    padding-left: 0.4em;
    padding-right: 0.4em;
  }

  /* Edits the block surrounding the code */
  pre {
    background-color: var(--foreground-color);
    border-radius: 5px;
    padding: 12px 16px;
  }
}

/* Give a remote user a caret */
.collaboration-cursor__caret {
  border-left: 1px solid #0d0d0d;
  border-right: 1px solid #0d0d0d;
  margin-left: -1px;
  margin-right: -1px;
  pointer-events: none;
  position: relative;
  word-break: normal;
}

/* Render the username above the caret */
.collaboration-cursor__label {
  border-radius: 3px 3px 3px 0;
  color: #0d0d0d;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  left: -1px;
  line-height: normal;
  padding: 0.1rem 0.3rem;
  position: absolute;
  top: -1.4em;
  user-select: none;
  white-space: nowrap;
}

.react-component-with-content {
  background: #0080ff;
  border: 3px solid #0D0D0D;
  border-radius: 0.5rem;
  margin: 1rem 0;
  position: relative;

  .label {
    margin-left: 1rem;
    background-color: #0D0D0D;
    font-size: 0.6rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 0;
    padding: 0.25rem 0.75rem;
    border-radius: 0 0 0.5rem 0.5rem;
  }

  .content {
    margin: 2.5rem 1rem 1rem;
    padding: 0.5rem;
    border: 2px dashed #0D0D0D20;
    border-radius: 0.5rem;
  }
}

.menubar-dropdown {
  display: inline-block;
}

.dropdown-items {
  text-align: right;
  display: flex;
  flex-direction: column;
  position: absolute;
}

.menubar-dropdown-items {
  box-shadow: 0px 0px 3px var(--shadow-color);
  border-radius: 4px;
  min-width: 200px;
  background-color: var(--background-color);
}

.text-style-button {
  width: 110px;
}

.text-align-button {
  width: 90px;
}

.hovering-toolbar {
  width: 200px;
}

.menubar {
  left: 0;
  display: flex;
  z-index: 103;
  /* margin-bottom: 10px; */
}

.menubar-dropdown-button {
  color: var(--primary-text-color);
  background-color: var(--background-color);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 15px;
  border-radius: 3px;
}

.menubar-dropdown-button:hover {
  background-color: var(--button-hover-color);
}

.menubar-dropdown-button:focus {
  outline: none;
}

.menubar-button {
  font-family: Arial, sans-serif;
  font-size: 15px;
  padding: 5px;
  border: none;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  cursor: pointer;
  border-radius: 4px;
  text-align: left;
}

.menubar-button:hover {
  background-color: var(--button-hover-color);
}

.home-nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: 8px;
}

.home-search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--foreground-color);
  color: var(--primary-text-color);
  width: 500px;
  height: 46px;
  font-size: large;
  border-color: transparent;
  border-radius: 8px;
  border-style: solid;
  border-width: 4px;
  padding: 20px;
}

.home-search-bar:focus {
  outline: none;
  box-shadow: 0px 0px 5px var(--shadow-color);
}

.home-create-doc-form {}

.home-create-doc-button {}

.home-document-grid {
  display: flex;
  justify-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 1150px;
  min-height: 700px;
}

.home-document-card {
  border: 1px solid #dfe1e5;
  border-radius: 3px;
  cursor: pointer;
  opacity: 1;
  color: #444;
  background-color: var(--background-color);
  display: inline-block;
  margin: 30px;
  width: 210px;
  height: 340px;
  font-size: 14px;
}

.home-document-card-content {
  width: 210px;
  height: 280px;
  font-size: 14px;
}

.home-document-card-title {
  border-top: 1px solid #e2e2e2;
  padding: 16px 8px 14px 16px;
  position: relative;
  display: block;
  height: 60px;
}

@media print {
  body {
    background: none;
    color: var(--primary-text-color);
  }

  /* Reset text color for print */
  [data-theme="dark"] {
    --primary-text-color: #000000;
  }

  .document {
    min-width: 755px;
    height: 9in;
    margin: 0;
    padding: 0;
    box-shadow: none;
    align-self: flex-start;
  }

  .document-nav-bar,
  .toggle-container,
  .character-count {
    display: none;
  }
}

@media (max-width: 768px) {
  .document {
    width: 90%;
    /* Adjust width for smaller screens */
  }

  .home-search-bar {
    width: 250px;
  }
}