:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color: #f6f6f6;
  --foreground-color: #e8e8e8;
  --primary-text-color: #0a0a0a;
  --secondary-text-color: #ffffff;
  --toggle-bg: #808080;
  --toggle-fg: #ffffff;

  --document-height: calc(100vh - 250px);
}

[data-theme="dark"] {
  --background-color: #0a0a0a;
  --foreground-color: #1c1c1c;
  --primary-text-color: #f6f6f6;
  --secondary-text-color: #0a0a0a;
  --toggle-bg: #283452;
  --toggle-fg: #00a6ff;
}

.toggle-container {
  position: absolute;
  top: 0em;
  right: 1em;
}

.toggle {
  visibility: hidden;
}

.toggle + label {
  display: flex;
  align-items: center;
  font-size: 1.1em;
  cursor: pointer;
  color: var(--primary-text-color);
}

.toggle + label::before {
  content: "";
  height: 1em;
  width: 2em;
  border-radius: 1em;
  background-color: var(--toggle-bg);
  margin-right: 0.5em;
  transition: background-color 250ms ease-in-out;
}

.toggle + label::after {
  content: "";
  height: 0.8em;
  width: 0.8em;
  border-radius: 1em;
  background-color: var(--toggle-fg);
  position: absolute;
  left: 0.2em;
  transition: background-color 250ms ease-in-out, transform 250ms ease-in-out;
}

.toggle:checked + label::after {
  transform: translateX(100%);
}

button {
  border-radius: 8px;
  border: 1px solid;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--foreground-color);
  color: var(--primary-text-color);
  transition: background-color 0.25s ease-in-out;
  z-index: 999;
  overflow-y: auto; /* Enable vertical scrolling if content exceeds height */
}

.document {
  margin-top: 50px;
  width: 90vw; /* Set width to 90% of the viewport width */
  max-width: 800px; /* Set maximum width to 800px */
  padding-bottom: var(--document-height);
  background-color: var(--background-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  cursor: text;
}

@media (max-width: 768px) {
  .document {
    width: 90%; /* Adjust width for smaller screens */
  }
}

.toolbar {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
}

.tiptap.ProseMirror {
  /* outline: none; */
  padding-bottom: var(--document-height);
}

.tiptap {
  p {
    margin-left: 0.25em;
  }
}

.react-component-with-content {
  background: #0080ff;
  border: 3px solid #0D0D0D;
  border-radius: 0.5rem;
  margin: 1rem 0;
  position: relative;

  .label {
    margin-left: 1rem;
    background-color: #0D0D0D;
    font-size: 0.6rem;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 0;
    padding: 0.25rem 0.75rem;
    border-radius: 0 0 0.5rem 0.5rem;
  }

  .content {
    margin: 2.5rem 1rem 1rem;
    padding: 0.5rem;
    border: 2px dashed #0D0D0D20;
    border-radius: 0.5rem;
  }
}