name: CI
on: push
jobs:
  cypress-run:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      # Install npm dependencies, cache them correctly
      # and run all Cypress tests
      - name: Install Dependencies
        run: |
          npm ci
          cd client
          npm ci

      - name: Build Client
        run: |
          cd client
          npm run build

      - name: Start Client
        run: |
          cd client
          npm run preview &

      - name: Cypress run
        uses: cypress-io/github-action@v6